page-chat {
    ion-content {
        background-image:
        linear-gradient(rgba(229, 221, 213, 0.9), rgba(229, 221, 213, 0.9)), 
        url('../../assets/imgs/backimage.png');
    
    ion-list {
        margin: 0 !important;
        background-color: transparent;
        fieldset {
            border: none;
            border-top: 0.55px solid #c8c7cc !important;
            margin-top: 24px !important;
        }
    }

    ion-avatar {
        max-width: 32px;
        margin-bottom: -24px;
        
        
        .bot-image
        {
            align-items: flex-start;
            border-radius: 50%;
        }

        .user-image
        {
            align-items: flex-end;
            border-radius: 50%;
            margin-bottom: 5px;
        }
        .user-message-time {
            font-size: 10px;
            color: black;
            position: absolute;
            right: 14px;
          }
          .bot-message-time {
            font-size: 10px;
            color: black;
            position: absolute;
            left: 14px;
          }
    }

    user-avatar {
        max-width: 32px;
        margin-bottom: -24px;
        align-items: flex-end;

        .user-image
        {
            border-radius: 50%;
            margin-bottom: 5px;
            
        }
    }
    
    .message-text {
        display: inline-block;
        padding: 8px;
        border-radius: 4px;
        max-width: 180px;
        font-size: 13px;
        font-family: Lato, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
        line-height: 20px;
        white-space: normal;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        &.left {
            background-color: white;
            color: #444;
            float: left !important;
            margin-left: 46px;
        }

        &.left:before {
            position: absolute;
            left: 56px;
            content:'';
            width: 0;
            height: 0;
            border-width: 7px 14px 7px 0;
            border-style: solid;
            border-color: transparent white transparent;
        }

        &.right {
            background-color: #dcf8c6;
            margin-right: 54px;
            color: black;
            float: right !important;
        }

        &.right:before {
            position: absolute;
            right: 64px;
            content:'';
            width: 0;
            height: 0;
            border-width: 7px 0 7px 14px;
            border-style: solid;
            border-color: transparent #dcf8c6 transparent;
        }

        .message-time {
            font-size: 12px;
            font-weight: bold;
            color: black;
          }
        
    }
}
}